@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
body {
            background-image: url('../images/img_library.jpg');
            background-position: center; 
    background-size: cover;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    color: white;
}


        .text-center {
            padding: 20px;
            background: rgba(0, 0, 0, 0.5); 
            border-radius: 10px;
            margin-top: 50px;
        }

        h1, p {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to our E-Library</h1>
     </div>
</body>
</html>
